*{
  font-family: Arial;
  box-sizing: border-box;
}


h1 {
  position: relative;
  font-size: 30px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  clear: both;  
  
}
h1:before, h1:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 1px;
  content: '\a0';
  background-color: rgb(20, 15, 15);
}
h1:before {
  margin-left: -50%;
  text-align: right;
}
.color {
  background-color: #ccc;
}
#nav-top {
  height: 23px;
  background-color: rgb(54, 53, 53);
  font-size: small;
}

#navbarNav{
margin-left: 61%;
}
.navbar-brand{
 
  font-size: small;
}
#icons div{
  float: left;
  margin: 19px 15px;
  text-align: center;
  

}
#icons img{
  width: 40px;
}
#icons{
padding-left: 36%;
}
/* second-navbar */
#second-navbar{
  font-size: 25px;

}
/* gallery */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  box-shadow: 1px 1px 1px gray;
  margin-top: 5%;
  margin-bottom: 5%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
/* gallery-b */

div.gallery-b {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 275px;
  box-shadow: 1px 1px 1px gray;
  margin-top: 5%;
  margin-bottom: 5%;
}

div.gallery-b:hover {
  border: 1px solid #777;
}

div.gallery-b img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  * {
    box-sizing: border-box;
  }
  
  #nav-top {
    height: 50px;
    background-color: rgb(54, 53, 53);
    font-size: medium;
  }
  
  #logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    text-align: center;
    font-size: small;
  }
  #icons img{
    width: 30px;
  }
  #icons {
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    text-align: center;
    font-size: small;
    
  
  }
  
  #logo,#icons{
   width: 90%;
  
  }

/* gallery */
div.gallery {
  margin: 15px 75px 15px ;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}



}
