*{
  font-family: Arial;
  box-sizing: border-box;
}
#nav-top {
  height: 23px;
  background-color: rgb(54, 53, 53);
  font-size: small;
}

#navbarNav{
margin-left: 49%;
}
.navbar-brand{
 
  font-size: small;
}
#icons div{
  float: left;
  margin: 19px 15px;
  text-align: center;
  

}
#icons img{
  width: 40px;
}
#icons{
padding-left: 25%;
}
#card{
  float: left;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px rgb(236, 231, 231);
}



@media only screen and (max-width: 920px) {
  /* For mobile phones: */
  * {
    box-sizing: border-box;
  }
  
  #nav-top {
    height: 50px;
    background-color: rgb(54, 53, 53);
    font-size: medium;
  }
  
  #logo{
   padding-left: 35%;
  }
  #icons img{
    width: 30px;
  }
  #icons {
    float: left;
    margin:  16px;
    padding: 6px;
    text-align: center;
    font-size: small;
  
  }
  
  #logo,#icons{
   width: 100%;
   float: left;
  }


}